ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.my-5 {
    margin: 5em 0;
}

ul.social {
    display: flex;
    justify-content: space-evenly;
}

ul.social a {
    text-decoration: none;
    color: orange;
}

ul.social i {
    font-size: 150%;
}

footer ul {
    list-style: none;
}

footer {
    background: black;
    color: white;
    padding: 3em;
}

.item img {
    width: 100%;
}